body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://images.wallpaperscraft.com/image/single/motorcycle_side_view_bike_120753_1366x768.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
}

.navbar {
  height: 100%;
  width: 150px;
  background-color: #3a3939;
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y:visible;
}

.navbar a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #555;
}

.main-content {
  margin-left: 200px;
  padding: 20px;
  flex: 1;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) ease;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.profile-icon {
  position: fixed;
  top: 20px;
  right: 20px;
}

.profile-icon img {
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 10%;
}
