body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    background-image: image-set('https://media.istockphoto.com/id/521890329/photo/bike-rider.jpg?s=612x612&w=0&k=20&c=p56JxxiCX3LyMsufE5umR-kWQkPsbRnO8KI9Jrjh1PY=' 2x);
    background-size: cover;
    background-blend-mode:darken;
    margin: 10;
    padding: 10;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.signup-form {
    padding: 20px;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

legend {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.About {
    position:fixed;
    top: 10px;
    right: 50px;
  }
